@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #2a99e4;
}

.formulario{
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.formulario .titulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.campo{
    margin: 10px;
}

.campo input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
}